@if (gameService.selectedGame(); as game) {
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-md-5">
        <img [src]="game.background_image" [alt]="game.name" class="img-fluid rounded-4 shadow" />
      </div>

      <div class="col-md-7">
        <h1 class="fw-bold mb-3">
          {{ game.name }}
        </h1>

        <p class="text-secondary">Released: {{ game.released }}</p>

        <p class="fs-4 text-purple fw-bold">★ {{ game.rating }}/5</p>

        <div class="mt-4 text-light" [innerHTML]="game.description"></div>
        <button
          class="btn btn-purple mt-3"
          (click)="gameService.addToDiary(game)"
          [disabled]="gameService.isInDiary(game.id)"
        >
          @if (gameService.isInDiary(game.id)) {
            Added to Diary
          } @else {
            Add to Diary
          }
        </button>
      </div>
    </div>
  </div>
} @else {
  <div class="container py-5">
    <p>Loading game details...</p>
  </div>
}
